<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/d3add1c02f.js" crossorigin="anonymous"></script>
</head>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .header {
        width: 100%;
        height: 100vh;
    }

    .side-nav {
        width: 250px;
        height: 100%;
        background: #0d74f5;
        position: fixed;
        top: 0;
        left: 0;
        padding: 20px 30px;
        float: left;
    }

    .content {
        margin-left: 250px;
        padding: 20px;
        display: flex;
        /* Adicionado */
        justify-content: center;
        /* Adicionado */
        align-items: center;
        /* Adicionado */
        height: 100vh;
        /* Adicionado */
    }

    .logo {
        display: block;
        margin-bottom: 130px;
    }

    .logo-img {
        width: 150px;
    }

    .nav-links {
        list-style: none;
        position: relative;
    }

    .nav-links li {
        padding: 10px 0;
    }

    .nav-links li a {
        color: #fff;
        text-decoration: none;
        padding: 10px 14px;
        display: flex;
        align-items: center;
    }

    .nav-links li a i {
        font-size: 22px;
        margin-right: 20px;
    }

    .active {
        background: #fff;
        width: 100%;
        height: 47px;
        position: absolute;
        left: 0;
        top: 2.6%;
        z-index: -1;
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
        display: none;
        transition: top 0.5s;
    }

    .nav-links li:hover a {
        color: #0d74f5;
        transition: 0.3s;
    }

    .nav-links li:hover~.active {
        display: block;
    }

    .nav-links li:nth-child(1):hover~.active {
        top: 2%;
    }

    .nav-links li:nth-child(2):hover~.active {
        top: 19.1%;
    }

    .nav-links li:nth-child(3):hover~.active {
        top: 37.7%;
    }


    .nav-links li:nth-child(4):hover~.active {
        top: 55.4%;
    }

    .nav-links li:nth-child(5):hover~.active {
        top: 70.8%;
    }

    .nav-links li:nth-child(6):hover~.active {
        top: 86.3%;
    }

    .logo-icon {
        display: none;
        width: 45px;
    }

    @media only screen and (max-width: 600px) {
        .side-nav {
            width: 110px;
        }

        .logo-icon {
            display: block;
        }

        .logo-img {
            display: none;
        }

        .nav-links li a p {
            display: none;
        }

        .nav-links li a i {
            margin-right: 0;
        }

        .nav-links li a {
            justify-content: center;
        }
    }

    .name {
        color: azure;
    }
</style>

<body>
    <div class="side-nav">
        <a href="#" class="logo">
            <img src="" class="logo-img" />
            <img src="" class="logo-icon">
        </a>
        <h3 class="name"></h3>
        <br>
        <ul class="nav-links">
            <li><a href="#">
                    <i class="fa-solid fa-house-user"></i>
                    <p>Dashboard</p>
                </a></li>
            <li><a href="/agendamento">
                    <i class="fa-solid fa-plus"></i>
                    <p>Novo Agendamento</p>
                </a></li>
            <li><a href="/agendamento/consultar">
                    <i class="fa-solid fa-calendar-days"></i>
                    <p>Consultar Agenda</p>
                </a></li>

            <li><a href="#">
                    <i class="fa-solid fa-user"></i>
                    <p>Perfil</p>
                </a></li>
            <li><a href="#">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <p>Reclame Aqui </p>
                </a></li>
            <li><a href="/login/logout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <p>Sair</p>
                </a></li>
            <div class="active"></div>
        </ul>
    </div>
    <div class="content">
        <h1 class="text-primary">
            Bem vindo <%- user.nome %>
        </h1>
    </div>
</body>

</html>